<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.min.css">
</head>

<body>
    <header class="header">
        <div class="header__inner" href="#">
            <div class="header__left">
                <a class="logo" href="#"> Knomary <span class="logo__add">TEST</span></a>
                <nav class="menu">
                    <div class="menu__account">
                        <img class="menu__account-avatar" src="images/avatar.png" alt="аватар">
                        <div class="menu__account-info">
                            <div class="menu__account-name">Виталий Лавов</div>
                            <div class="menu__account-position">Сотрудник</div>
                        </div>
                    </div>
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a class="menu__list-link menu__list-link--active" href="#">Курсы</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link menu__list-link--important" href="#">Тестирования</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link menu__list-link--important" href="#">События</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">База знаний</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Пользователи</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Отчеты</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#"></a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="header__account">
                <img class="header__account-avatar" src="images/avatar.png" alt="аватар">
                <div class="header__account-info">
                    <div class="header__account-name">Виталий Лавов</div>
                    <div class="header__account-position">Сотрудник</div>
                </div>
                <div class="header-btn">
                    <div class="header-btn__line"></div>
                    <div class="header-btn__line"></div>
                    <div class="header-btn__line"></div>
                </div>
            </div>
        </div>
    </header>
    <main id="app">
        <section class="education">
            <div class="container">
                <div class="education__inner">
                    <h1 class="education__title">Назначенное обучение</h1>
                    <nav class="menu-tab">
                        <ul class="menu-tab__list">
                            <li class="menu-tab__item menu-tab__item--all" @click="isSelect('0')">
                                <a class="menu-tab__link" href="#">Все <span class="menu-tab__add">8</span></a>
                            </li>
                            <li class="menu-tab__item menu-tab__item--cours" @click="isSelect('1')">
                                <a class="menu-tab__link" href="#">Курсы <span class="menu-tab__add">5</span></a>
                            </li>
                            <li class="menu-tab__item menu-tab__item--tests" @click="isSelect('2')">
                                <a class="menu-tab__link" href="#">Тесты <span class="menu-tab__add">2</span></a>
                            </li>
                            <li class="menu-tab__item menu-tab__item--event" @click="isSelect('3')">
                                <a class="menu-tab__link" href="#">События<span class="menu-tab__add">1</span></a>
                            </li>
                        </ul>
                    </nav>
                    <div class="education__content">
                        <a class="education__content-card" href="#" v-if="isActive === '1'">
                            <img v-bind:src=message[0].image class="education__content-image" alt="">
                            <div class="education__progress">
                                <div class="education__progress-cours">{{ message[0].type }}</div>
                                <div class="education__progress-pass">не пройдено</div>
                            </div>
                            <div class="education__progress-bar "></div>
                            <h2 class="education__card-title education__card-title--deep">{{ message[0].name }}</h2>
                            <div class="education__event">
                                <img class="education__event-image" src="images/event.svg"
                                    alt="24-часовой рабочий день">
                                <div class="education__event-info">Доступен до: {{ message[0].date }}</div>
                            </div>
                        </a>
                        <a class="education__content-card" href="#" v-if="isActive === '1'">
                            <img v-bind:src=message[1].image class="education__content-image" alt="">
                            <div class="education__progress">
                                <div class="education__progress-cours">{{ message[1].type }}</div>
                                <div class="education__progress-pass">{{message[1].progress}} пройдено</div>
                            </div>
                            <div class="education__progress-bar">
                                <span class="education__progress-bar--procent" style="width:34%;"></span>
                            </div>
                            <h2 class="education__card-title">{{ message[1].name }} </h2>
                            <div class="education__event">
                                <img class="education__event-image" src="images/event.svg"
                                    alt="Эксперт назвал способ навсегда покончить с нападками">
                                <div class="education__event-info">Доступен до: {{ message[1].date }}</div>
                            </div>
                        </a>
                        <a class="education__content-card" href="#" v-if="isActive === '1'">
                            <img v-bind:src=message[2].image class="education__content-image" alt="">
                            <div class="education__progress">
                                <div class="education__progress-cours">{{ message[2].type }}</div>
                                <div class="education__progress-pass">{{message[2].progress}} пройдено</div>
                            </div>
                            <div class="education__progress-bar">
                                <span class="education__progress-bar--procent" style="width:53%;"></span>
                            </div>
                            <h2 class="education__card-title">{{message[2].name}} </h2>
                            <div class="education__event">
                                <img class="education__event-image" src="images/event.svg"
                                    alt="Агрегаторы станут нести ответственность за услуги">
                                <div class="education__event-info">Доступен до: {{ message[2].date }}</div>
                            </div>
                        </a>
                        <a class="education__content-card" href="#" v-if="isActive === '1'">
                            <img v-bind:src=message[3].image class="education__content-image" alt="">
                            <div class="education__progress">
                                <div class="education__progress-cours">{{ message[3].type }}</div>
                                <div class="education__progress-pass">не пройдено</div>
                            </div>
                            <div class="education__progress-bar education__progress-bar--short"></div>
                            <h2 class="education__card-title education__card-title--low">{{message[3].name}}
                            </h2>
                            <div class="education__event">
                                <img class="education__event-image" src="images/event.svg"
                                    alt="Упаковка и маркировка товара">
                                <div class="education__event-info">Доступен до: {{ message[3].date }}</div>
                            </div>
                        </a>
                        <a class="education__content-card" href="#" v-if="isActive === '1'">
                            <img v-bind:src=message[4].image class="education__content-image" alt="">
                            <div class="education__progress">
                                <div class="education__progress-cours">{{ message[4].type }}</div>
                                <div class="education__progress-pass">не пройдено</div>
                            </div>
                            <div class="education__progress-bar"></div>
                            <h2 class="education__card-title">{{message[4].name}} </h2>
                            <div class="education__event">
                                <img class="education__event-image" src="images/event.svg"
                                    alt="Теории Зигмунда Фрейда и Альфреда Адлера">
                                <div class="education__event-info">Доступен до: {{ message[4].date }}</div>
                            </div>
                        </a>
                        <a class="education__content-card" href="#" v-if="isActive === '2'">
                            <img v-bind:src=message[5].image class="education__content-image" alt="">
                            <div class="education__progress">
                                <div class="education__progress-cours">{{ message[5].type }}</div>
                                <div class="education__progress-pass">пройден</div>
                            </div>
                            <div class="education__progress-bar">
                                <span class="education__progress-bar--procent" style="width:113%;"></span>
                            </div>
                            <h2 class="education__card-title">{{message[5].name}} </h2>
                            <div class="education__event">
                                <img class="education__event-image" src="images/event.svg"
                                    alt="Как развить в себе системные качества лидера">
                                <div class="education__event-info">Доступен до: {{ message[5].date }}</div>
                            </div>
                        </a>
                        <a class="education__content-card" href="#" v-if="isActive === '3'">
                            <img v-bind:src=message[6].image class="education__content-image" alt="">
                            <div class="education__progress">
                                <div class="education__progress-cours">{{ message[6].type }}</div>
                            </div>
                            <h2 class="education__card-title education__card-title--short">{{message[6].name}}</h2>
                            <div class="education__event">
                                <img class="education__event-image" src="images/event.svg"
                                    alt="Это необходимо знать, перед уходом на удаленку">
                                <div class="education__event-info">Доступен до: {{ message[6].date }}</div>
                            </div>
                        </a>
                        <a class="education__content-card" href="#" v-if="isActive === '2'">
                            <img v-bind:src=message[7].image class="education__content-image" alt="">
                            <div class="education__progress">
                                <div class="education__progress-cours">{{ message[7].type }}</div>
                                <div class="education__progress-pass">не пройдено</div>
                            </div>
                            <div class="education__progress-bar education__progress-bar--deep"></div>
                            <h2 class="education__card-title education__card-title--low">{{message[7].name}}</h2>
                            <div class="education__event">
                                <img class="education__event-image" src="images/event.svg" alt="Принципы OOП">
                                <div class="education__event-info">Доступен до: {{ message[7].date }}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <article class="news">
            <div class="container">
                <div class="news__inner">
                    <h2 class="news__info">Новости</h2>
                    <div class="news__posts">
                        <a class="news__post" href="#">
                            <img v-bind:src=message[8].image class="news__image"
                                alt="Хакеры атаковали пользователей Facebook">
                            <button class="news__btn-it" type="submit">{{message[8].tags[0]}}</button>
                            <button class="news__btn-facebook" type="submit">{{message[8].tags[1]}}</button>
                            <h2 class="news__title">{{message[8].name}}</h2>
                            <p class="news__text">
                                {{message[8].description}}
                            </p>
                            <div class="news__box">
                                <div class="news__like">
                                    <img class="news__like-image" src="images/heart.svg" alt="heart">
                                    <div class="news__like-sum">{{message[8].likes}}</div>
                                </div>
                                <div class="news__message">
                                    <img class="news__like-image" src="images/message.svg" alt="message">
                                    <div class="news__like-sum">{{message[8].comments}}</div>
                                </div>
                            </div>
                        </a>
                        <a class="news__post" href="#">
                            <img v-bind:src=message[9].image class="news__image"
                                alt="Данные сотен российских компаний из Trello">
                            <button class="news__btn-it" type="submit">{{message[9].tags[0]}}</button>
                            <h2 class="news__title">{{message[9].name}} </h2>
                            <p class="news__text">
                                {{message[9].description}}
                            </p>
                            <div class="news__box">
                                <div class="news__like">
                                    <img class="news__like-image" src="images/heart.svg" alt="heart">
                                    <div class="news__like-sum">{{message[9].likes}}</div>
                                </div>
                                <div class="news__message">
                                    <img class="news__like-image" src="images/message.svg" alt="message">
                                    <div class="news__like-sum">{{message[9].comments}}</div>
                                </div>
                            </div>
                        </a>
                        <a class="news__post" href="#">
                            <img v-bind:src=message[10].image class="news__image"
                                alt="Топ-25 самых востребованных профессий">
                            <button class="news__btn-it" type="submit">{{message[10].tags[0]}}</button>
                            <button class="news__btn-facebook" type="submit">{{message[10].tags[1]}}</button>
                            <button class="news__btn-top" type="submit">{{message[10].tags[2]}}</button>
                            <h2 class="news__title">{{message[10].name}}</h2>
                            <p class="news__text">
                                {{message[10].description}}
                            </p>
                            <div class="news__box">
                                <div class="news__like">
                                    <img class="news__like-image" src="images/heart.svg" alt="heart">
                                    <div class="news__like-sum">{{message[10].likes}}</div>
                                </div>
                                <div class="news__message">
                                    <img class="news__like-image" src="images/message.svg" alt="message">
                                    <div class="news__like-sum">{{message[10].comments}}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </article>

    </main>
    <footer class="footer">
        <div class="footer__inner">
            <a class="logo" href="#"> Knomary <span class="logo__add">TEST</span></a>
            <a class="footer__help" href="#">Нужна помощь?</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/main.min.js"></script>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                message: '',
                isActive: '',
                classActive: 'active'
            },

            mounted() {
                // ('menu__list').first().addClass(classActive)
                axios
                    .get('education.json')
                    .then(response => (this.message = response.data))
            },

            methods: {
                isSelect: function (num) {
                    this.isActive = num;
                    this.addClass(classActive)

                    $(".menu-tab__item").click(function () {
                        $('.menu-tab__item ').not(this).removeClass('active');
                        $(this).toggleClass('active');
                    });

                    $(".menu__list-link").click(function () {
                        $('.menu__list-link').not(this).removeClass('menu__list-link--active');
                        $(this).toggleClass('menu__list-link--active');
                    });

                }
            }
        })
    </script>
</body>

</html>